<mat-toolbar class="footer" color='primary'>
    <div class="between-xs style-column">
        <div class="col-xs-2">
            <div class="box">
                <img class="logo" src='/assets/LogoSimSave.svg' alt="simSave">
            </div>
        </div>
        <div class=" col-xs-2">
            <div class="box container-icons">
                <a href="">
                    <fa-icon  class="style-icon"  [icon]="faTwitter"></fa-icon>
                </a>

                <a href="https://www.youtube.com/channel/UCXX_EfE6GQWPoOQxwZd-gqg" target="_blank">
                    <fa-icon  class="style-icon"  [icon]="faFacebook"></fa-icon>

                </a>

                <a href="https://www.instagram.com/simsave.enf" target="_blank"  >
                    <fa-icon  class="style-icon" [icon]="faInstagram"></fa-icon>

                </a>
                <a href="">
                    <fa-icon  class="style-icon"  [icon]="faYoutube"></fa-icon>
                </a>

                <a href="https://www.linkedin.com/company/simsave" target="_blank">
                    <fa-icon  class="style-icon" [icon]="faLinkedin"></fa-icon>
                </a>

            </div>
        </div>
        <div class="col-xs-2">
            <div class="box container-contact">
                <div class="container-envelop">
                    <fa-icon class=" style-icon"  [icon]="faEnvelope"></fa-icon>
                    <span class="footercontact footer-fale-conosco">Fale Conosco</span>
                </div>
                <div>
                    <p class="footercontact margin-duvidas" >Dúvuda,critica sugestão ou elogio? Envie <br> um e-mail para suporte@simsave.com.br</p>
                </div>
            </div>
        </div>
    </div>
</mat-toolbar>