<section class="retangulo aling">
   
    <div >
        <a routerLink="" ><img class="logoLogin" src="/assets/LogoSimSaveLogin.svg" alt=""></a>
    </div>
  <div class="containerform">
      <form action="" class="inputs">
          <div class="card">
              <span class="titulo">Entrar na plataforma</span>
              <p class="info">Digite seu e-mail e senha abaixo <br> para entrar na plataforma.</p>
          </div>
          
            <mat-form-field class="example-full-width" style="width: 318px;">
              <mat-label>Nome</mat-label>
            <input matInput type="text" placeholder="Ex. Lucas">
          </mat-form-field>
          <mat-form-field class="example-full-width" style="width: 318px;">
            <mat-label>Senha</mat-label>
            <input matInput type="password">
          </mat-form-field>
          <button class="btn" mat-flat-button color="primary">ENTAR</button>
        
        </form>
      </div>

</section>